openapi: 3.0.0
info:
  version: 1.0.0
  title: Kaurat API Reference
  termsOfService: 'https://example.com/terms/'
  contact:
    email: support@kaurat.com
    url: 'http://test.kaurat.com'
  x-logo:
    url: './kaurat-logo.png'
    backgroundColor: 'rgb(38, 49, 56)'
  description: >
    # Overview

    Kaurat API is built on HTTP. Our API is RESTful. 
    It has predictable resource URLs. It returns HTTP response codes to indicate errors. 
    It also accepts and returns JSON in the HTTP body. 
    You can use your favorite HTTP/REST library for your programming language to use Kaurat's API.

    # Authentication

    To access each APIs, you need to have `api_key` for specify you organization. 
    Authentication for Kaurat is based on [key-auth](https://en.wikipedia.org/wiki/Key_authentication).
x-tagGroups:
  - name: User
    tags:
      - User
  - name: Token
    tags:
      - Lock
tags:
  - name: Lock
    description: Deposit Kaurat for some period of time.
  - name: Request
    description: Deposit Kaurat for some period of time.
  - name: Send
    description: Deposit Kaurat for some period of time.
  - name: Swap
    description: Deposit Kaurat for some period of time.
  - name: Withdraw
    description: Deposit Kaurat for some period of time.
  - name: User
    description: Operations about user
servers:
  - url: 'http://api.kaurat.com/v1'
    description: Main (production) server
  - url: 'http://api-staging.kaurat.com/v1'
    description: Internal staging server for testing
